#my-page
	header
		width: 100%
		height: 70vh
		background-color: #fff
		background: url(/img/background/header-background.jpg) no-repeat
		position: relative
		background-size: cover



		.navigation
			position: fixed
			height: 86px
			width: 100%
			background-color: rgba(255, 255, 255, .3)
			z-index: 5
		
			.overlay
				margin-right: 380px
				margin-left: 380px
				
				.row
					margin: 0
				.menu
					// margin-left: 200px
					margin-top: 30px


					li
						display: inline-block
						list-style-type: none
						margin-right: 20px
						margin-bottom: 0px
						margin-top: 5px
						a 
							color: #9daeb6
							font-weight: bold
							text-transform: uppercase
							font-size: 12px
							font-weight: bold
							padding-bottom: 5px
							border-bottom: 2px solid transparent
							&:hover
								text-decoration: none
								border-bottom: 3px solid $accent
								color: #9daeb6
								transition: all .3s ease
					

					.logo
						// margin-top: 30px
					.callUs
						margin-top: -10px
						color: $accent
						white-space: nowrap
						padding: 15px 42px
						background-color: transparent
						border: 3px solid $accent
						border-radius: 5px
						font-size: 12px
						font-weight: bold
						text-transform: uppercase
						letter-spacing: 1.5px
						outline: none
						
						&:hover
							color: #fff
							background-color: $accent
							transition: all .25s ease-in-out
					
		

						
#my-menu
	background-color: $accent
				

			