main
	.aboutUsInfo
		background-color: #f6f4f4
		max-height: 660px
		width: 100%
		background: url(/img/background/aboutUs-fon.jpg) no-repeat
		background-size: cover
		.aboutUsWrapper
			padding-top: 150px
			h4
				font-size: 20px
				text-transform: uppercase
				font-weight: bold
				font-family: OpenSans
				margin-bottom: 25px
			p
				margin-bottom: 30px
				font-size: 14px
				line-height: 30px
				padding-right: 80px
				text-align: left
			.readMore
				padding: 10px 20px
				font-size: 12px
				margin-bottom: 20px
			.waves
				margin-bottom: 15px

	.aboutUsImgs
		position: relative
		.aboutUs-big
			max-width: 800px
			width: 100%
			margin-top: 25px
			margin-left: -20px
			z-index: 2
			position: relative
		.aboutUs-small
			position: relative
			max-width: 280px
			width: 100%
			z-index: 3
			top: -160px
			left: -110px

	.ourJournalWrapper
		.waves
			margin-top: 60px
			text-align: center
		h2
			font-size: 30px
			font-weight: bold
			font-family: OpenSans
			text-align: center
			text-transform: uppercase
			margin-top: 30px
			margin-bottom: 70px

		// $colors: $blue, $red, $accent
		// @for $i from 1 through length($colors)
		// 	.carousel-mountains .owl-item:nth-child(#{length($colors)}n+#{$i})
		// 		background-color: nth($colors, $i)

		.carousel-mountains
			background-color: #fff
			&-item
				font-size: 18px
				color: #fff
				font-weight: 300
				position: relative
				display: flex
				flex-direction: column-reverse
			
				&:hover
					.carousel-mountains-image
						// opacity: .1


			.owl-item
				&:nth-child(2n+1)
					.carousel-mountains-item
						flex-direction: column	
			.view
				float: left
				overflow: hidden
				position: relative
				text-align: center
				box-shadow: 1px 1px 2px #e6e6e6
				cursor: pointer
				.mask, .content
					width: 100%
					height: 100%
					position: absolute
					overflow: hidden
					top: 0
					left: 0
				img
					display: block
					position: relative
				a.info
					display: inline-block
					text-decoration: none
					padding: 7px 14px
					background: transparent
					color: #fff
					text-transform: uppercase

			.view-first
				img
					transition: all 0.1s linear
				.mask
					-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
					filter: alpha(opacity = 0)
					opacity: 0
					transition: all 0.4s ease-in-out
				a.info
					-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
					filter: alpha(opacity = 0)
					opacity: 0
					transition: all 0.2s ease-in-out
				&:hover
					.mask
						-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
						filter: alpha(opacity = 100)
						opacity: 1
						top: 35%
					a.info
						-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
						filter: alpha(opacity = 100)
						opacity: 1
						transform: translateY(0px)
			//////////////////////////////////////

			&-image
				background-size: cover
				background-position: center
				opacity: 1
				transition: opacity .5s ease
			&-content
				position: relative
				padding: 40px 10%

			&-composition
				margin: auto
				text-align: center
				width: 100%
				h3
					color: $accent
					font-size: 12px
					font-weight: bold
					text-transform: uppercase

				h5
					color: $dark
					font-weight: bold
					font-size: 16px
					margin-top: 40px
					margin-bottom: 20px
					text-transform: uppercase
					line-height: 1.3em
					
				p
					color: #777777
					font-weight: normal
					font-size: 14px
					line-height: 1.3em


				span
					color: $dark
					margin-top: 25px
					display: block
					font-size: 14px
					font-style: italic
					

			&-list
				margin: 0
				padding: 0
				list-style-type: none
				margin-bottom: 20px
				li
					padding: 8px
					border-bottom: 1px solid rgba(#000, .12)
					&:last-child
						border-bottom: none
					strong
						font-family: firasans, sans-serif
						color: #4A4A4A
					.fa
						font-size: 14px
			
			.owl-nav
				position: absolute
				top: 0
				width: 100%
				> div
					width: 64px
					height: 64px
					background-color: #fff
					color: $dark
					position: absolute
					text-align: center
					line-height: 64px
					font-size: 26px
					&.owl-prev
						left: 0
					&.owl-next
						right: 0

		.owl-carousel
			.owl-item
				backface-visibility: inherit


	.wannaGo
		height: 600px	
		position: relative
		width: 100%
		.mountBack
			position: absolute
			bottom: 0px
			height: 180px
			width: 100%
			background-image: url(/img/background/mountains-background.jpg)
			background-attachment: scroll
			background-repeat: repeat-x

		.trees
			position: relative
			max-height: 600px
			.tree1, .tree2
				position: relative
				
				max-width: 100%
			.tree1
				z-index: 2
				bottom: -187px
			.tree2
				z-index: 5
				top: -375px
				max-height: 560px
				right: -100px



		.wannaGoContent
			img
				margin-top: 130px
				margin-bottom: 25px
			h6
				text-transform: uppercase
				font-size: 20px
				font-family: OpenSans
				font-weight: bold

			p
				color: #949494
				margin-top: 20px
				margin-bottom: 20px
				line-height: 20px
				font-size: 16px

			.orderForm
				INPUT[type="text"], INPUT[type="email"] 
					background-color: #fff
					color: #949494
					border: 2px solid transparent
					border-radius: 3px
					padding-right: 20px
					padding-top: 10px
					padding-bottom: 10px
					padding-left: 10px


				INPUT[type="submit"]
					padding: 10px 30px
					font-size: 14px

				.dataTransfer
					color: $accent
					margin-top: 10px

					.fa-lock
						font-size: 18px
						margin-right: 5px

	.howWork
		.waves
			text-align: center
			margin-top: 60px
			margin-bottom: 35px
		h2
			font-size: 30px
			font-weight: bold
			font-family: OpenSans
			text-align: center
			text-transform: uppercase
			margin-bottom: 70px
		.workElementWrapper
			.workElement
				display: flex
				flex-direction: column
				.smallCircle
					margin: auto
					width: 50px
					height: 50px
					background: #fff
					border: 3px solid $accent
					line-height: 43px
					text-align: center
					font-size: 14px
					color: $accent
					border-radius: 25px
					font-weight: bold
					font-family: OpenSans
					margin-bottom: 60px
					// &:hover
					// 	cursor: pointer
					// 	background: $accent
					// 	color: #fff
					// 	transition: all .5s ease
				.bigCircle
					margin: auto
					width: 180px
					height: 180px
					border-radius: 90px
					background-color: #f0f3f6
					// box-shadow: 0px 2px 46px 6px rgba(54,146,255,0.35)
					box-shadow: 0px 2px 16px 6px rgba(0,0,0,0.2)
					&:hover
						cursor: pointer
						box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.2)
						transition: all .5s
					.d16
						margin: auto
						margin-top: 65px
						width: 100px
						height: 55px
						// background: lighten($accent, 30%)
						background: #fff
						position: relative
						transition: transform 0.5s

						&::before, &::after
							content: ""
							width: 0
							height: 0
							position: absolute
							left: 0
							border-left: 50px solid transparent
							border-right: 50px solid transparent
						&::before
							top: -30px
							border-bottom: 30px solid #fff
						&::after
							bottom: -30px
							border-top: 30px solid #fff
						&:hover
							transform: rotateZ(360deg)
						.step1
							padding: 7px 34px
						.step2
							padding: 8px 29px
						.step3
							padding: 9px 30px
						.step4
							padding: 9px 31px
							


			.workText
				margin-top: 30px
				margin-bottom: 70px
				p
					font-weight: bold
					font-size: 24px
					text-align: center
					margin-bottom: 10px
				span
					text-align: center
					font-size: 14px
					line-height: 20px
					display: block


	.travelWithUs
		.travelWithUsWrapper
			.waves
				text-align: center
				margin-bottom: 35px
			h2
				font-size: 30px
				font-weight: bold
				font-family: OpenSans
				text-align: center
				text-transform: uppercase
				// margin-bottom: -50px

			.travelWithUsContainer
				.map
					background: url(/img/background/worldmap-dots.png) no-repeat
					z-index: 2
					position: relative
					width: 100%
					height: 800px
					margin-top: -50px
					.mountains
						margin-top: 130px
						.carpathians, .alps, .pyrenees, .rocky, .kavkaz
							background: url(/img/Mountains/carpathian3.jpg) no-repeat
							position: relative
							height: 380px
							width: 100%
							border-radius: 5px
							&:hover
								// transform: scale(1.02)
								transition: all .5s ease
								cursor: pointer
								.stars
									padding-left: 0px
									text-align: center
									.fa
										margin: 0 5px
										transition: all .5s ease
										font-size: 18px
									h3
										margin-top: 100px
										transition: all .5s ease
								.blur
									.newPrice
										transform: rotateZ(360deg)
										transition: transform 1s

							.stars
								padding-top: 10px
								padding-left: 15px
								color: #ffffff
							h3
								color: #fff
								font-size: 26px
								margin-top: 130px
								margin-left: 15px
								margin-bottom: 15px
							p
								color: #fff
								font-size: 14px
								margin-left: 15px
							.blur
								height: 60px
								position: absolute
								bottom: 0px
								left: 0px
								width: 100%
								overflow: hidden
								// filter: blur(3px)
								// background-color: rgba(146,200,252,.5)
								display: flex
								justify-content: space-around
								.oldPrice
									text-decoration: line-through
									color: #fff
									font-size: 16px
									display: inline-block
									margin: auto
								.newPrice
									font-size: 26px
									font-weight: bold
									color: #fff
									display: inline-block
									margin: auto
						.alps
							background: url(/img/Mountains/alps3.jpg) no-repeat
						.pyrenees
							background: url(/img/Mountains/pyrenees3.jpg) no-repeat
						.rocky
							background: url(/img/Mountains/rocky3.jpg) no-repeat
						.kavkaz
							background: url(/img/Mountains/kavkaz3.jpg) no-repeat
				.lake
					background: url(/img/background/lake-background.jpg) no-repeat
					z-index: 1
					position: relative
					margin-top: -450px
					width: 100%
					height: 800px
					

						

