@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px)
	/**/
	#my-page	
		header
			.navigation
				height: 90px
				.overlay
					margin: auto
					.menu
						.hamburger
							display: none
		.order
			
			h1
				font-size: 42px
				letter-spacing: 4.5px
				white-space: nowrap
				
		main
			
			.wannaGo
				.wannaGoContent
					.orderForm
						INPUT[type="text"], INPUT[type="email"] 
							padding-right: 50px
							padding-top: 15px
							padding-bottom: 15px
							padding-left: 20px
						INPUT[type="submit"]
							padding: 15px 40px
							font-size: 16px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
	/**/
	#my-page	
		header

			.navigation
				position: fixed
				height: 86px
				background-color: rgba(255, 255, 255, .3)
				z-index: 2
				.overlay
					margin-right: 40px
					margin-left: 40px
					.menu
						.hamburger
							display: none
		.order

				h1
					font-size: 42px
					letter-spacing: 4.5px
					white-space: nowrap
		main
			
			.wannaGo
				.trees
					overflow: hidden
					.tree1
						z-index: 2
						bottom: -187px
					.tree2
						z-index: 5
						top: -375px
						max-height: 560px
						right: -100px

				.wannaGoContent
					.orderForm
						INPUT[type="text"], INPUT[type="email"] 
							border-radius: 3px
							padding-right: 20px
							padding-top: 10px
							padding-bottom: 10px
							padding-left: 10px


						INPUT[type="submit"]
							padding: 11px 30px
							font-size: 14px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	#desktop-menu
		display: block
	#my-page	
		header
			.navigation
				.overlay
					.menu
						.hamburger
							display: none
	
		main
			.wannaGo
				.trees
					overflow: visible
					.tree1
						z-index: 2
						bottom: -187px
						////////////////////////// CHECK IT
					.tree2
						display: none
						////////////////////
				.wannaGoContent
					img
						margin-top: 80px
						margin-bottom: 25px
				
					.orderForm
						INPUT[type="text"], INPUT[type="email"] 
							padding-right: 0px
							padding-top: 8px
							padding-bottom: 8px
							padding-left: 10px

						INPUT[type="submit"]
							padding: 10px 10px
							font-size: 12px


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	#my-page	
		header
			.navigation
				position: fixed
				height: 80px
				background-color: rgba(255, 255, 255, .3)
				z-index: 2
				.overlay
					margin: auto
					.menu
						margin-top: 20px
					
						.container-menu
							display: none
						.hamburger-and-callUs
							display: flex
							margin-top: -33px
							justify-content: space-between
							.hamburger
								display: block
								outline: none
								.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
									border-radius: 5px
									width: 46px
									height: 4px
									background-color: darken($accent, 10%)


							.callUs
								padding: 10px 30px
								font-size: 14px
						.logo
							text-align: center
		.order

				h1
					font-size: 30px
					letter-spacing: 3.0px
				p
					font-size: 12px
				.orderNow
					padding: 15px 35px
					font-size: 12px
				
		main
			
			.aboutUsImgs
				position: relative
				.aboutUs-big
					margin-top: 20px
					margin-left: 0px
				.aboutUs-small
					max-width: 220px
					top: 0px
					left: 125px
			.wannaGo
				.trees
					overflow: visible
					.tree1
						z-index: 2
						bottom: -187px
					.tree2
						display: none
				.wannaGoContent
					padding: 20px
					img
						margin-top: 50px
						margin-bottom: 25px
					.orderForm
						INPUT[type="text"], INPUT[type="email"] 
							padding-right: 0px
							padding-top: 8px
							padding-bottom: 9px
							padding-left: 10px

						INPUT[type="submit"]
							padding: 10px 10px
							font-size: 12px
							margin-top: 20px
							text-align: center

	#desktop-menu
		display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	#my-page
		header
			.order
				margin-top: 180px
				margin-left: 120px
				margin-right: 120px
				text-align: center
				h1
					font-size: 36px
					letter-spacing: 4.0px
					text-align: center
				p
					text-align: center
				.orderNow
					padding: 15px 35px
					font-size: 14px

		main
			
			.aboutUsInfo
				.aboutUsWrapper
					padding-top: 50px
					text-align: center
					h4
						font-size: 20px
						text-transform: uppercase
						font-weight: bold
						font-family: OpenSans
						margin-bottom: 25px
					p
						margin-bottom: 20px
						padding-right: 0px
						text-align: center
					.readMore
						padding: 10px 20px
						font-size: 12px
						margin-bottom: 20px
					.waves
						margin-bottom: 15px
			.ourJournalWrapper
				.waves
					margin-top: 30px
					text-align: center
				h2
					font-size: 30px
					font-weight: bold
					font-family: OpenSans
					text-align: center
					text-transform: uppercase
					margin-top: 20px
					margin-bottom: 20px			
			.aboutUsImgs
				position: relative
				.aboutUs-big
					margin-top: 20px
					margin-left: 0px
				.aboutUs-small
					display: none

			.wannaGo
				height: 500px
				text-align: center
				.trees
					overflow: visible
					.tree1
						display: none
					.tree2
						display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 576px)
	/**/
	#my-page
		header
			.order
				margin-top: 140px
				margin-left: 50px
				margin-right: 50px
				text-align: center
				h1
					font-size: 42px
					letter-spacing: 4.0px
					text-align: center
				p
					text-align: center
					font-size: 16px
				.orderNow
					padding: 15px 35px
					font-size: 14px	
		main
			.wannaGo
				.wannaGoContent
					padding: 20px
					img
						margin-top: 20px
						margin-bottom: 20px
					.orderForm
						INPUT[type="text"], INPUT[type="email"] 
							padding-right: 0px
							padding-top: 8px
							padding-bottom: 9px
							padding-left: 10px
							display: block
							width: 100%
							margin-bottom: 20px

						INPUT[type="submit"]
							padding: 10px 70px
							font-size: 12px
							margin-top: 0px
							text-align: center
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	#my-page
		header
			.order
				margin-top: 120px
				margin-left: 20px
				margin-right: 20px

				h1
					font-size: 36px




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

